---
import "@/styles/global.css";
import Hero from "../../components/sections/hero.astro";
import Footer from "../../components/sections/footer.astro";
import Project from "../../components/sections/projects.astro";
import { Toaster } from "sonner";
import { Navbar } from "../../components/navbar";
import { Contact } from "../../components/sections/contact";
import Layout from "../../layouts/Layout.astro";
import Experience from "../../components/sections/experience.astro";
import ScrollProgress from "../../components/scroll-progress";
import SideElements from "../../components/sections/side-elements.astro";
import About from "../../components/sections/about.astro";
import { getEntry } from "astro:content";
import { Locales } from "@/types/locales.types";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

export function getStaticPaths() {
  return [{ params: { lang: Locales.EN } }, { params: { lang: Locales.PL } }];
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const sections = [
  {
    id: "hero",
    label: t("nav.home"),
    activeColor: "bg-rose border-rose shadow-[0_0_20px_var(--color-rose)]",
  },
  {
    id: "about",
    label: t("nav.about"),
    activeColor: "bg-primary border-primary shadow-[0_0_20px_var(--primary)]",
  },
  {
    id: "experience",
    label: t("nav.experience"),
    activeColor: "bg-accent border-accent shadow-[0_0_20px_var(--accent)]",
  },
  {
    id: "projects",
    label: t("nav.projects"),
    activeColor: "bg-cyan border-cyan shadow-[0_0_20px_var(--color-cyan)]",
  },
  {
    id: "contact",
    label: t("nav.contact"),
    activeColor: "bg-amber border-amber shadow-[0_0_20px_var(--color-amber)]",
  },
];

const navLinks = [
  { label: t("nav.about"), href: "#about", color: "text-primary" },
  { label: t("nav.experience"), href: "#experience", color: "text-accent" },
  { label: t("nav.projects"), href: "#projects", color: "text-cyan" },
  { label: t("nav.contact"), href: "#contact", color: "text-amber" },
];

const redirectToPage = {
  title: t("nav.offer"),
  url: `/${lang}/oferta`,
};

const hero = await getEntry(`${lang}/hero` as "en/hero" | "pl/hero", "hero");
const about = await getEntry(
  `${lang}/about` as "en/about" | "pl/about",
  "about",
);
const experience = await getEntry(
  `${lang}/experience` as "en/experience" | "pl/experience",
  "experience",
);
const projects = await getEntry(
  `${lang}/projects` as "en/projects" | "pl/projects",
  "projects",
);
---

<Layout>
  <!--<Cursor client:load />-->
  <Navbar navLinks={navLinks} redirectToPage={redirectToPage} client:load />
  <SideElements />
  <ScrollProgress sections={sections} client:idle />
  <main>
    <Hero heroData={hero} />
    <About aboutData={about} />
    <Experience experienceData={experience} />
    <Project projectsData={projects} />
    <Contact client:visible />
  </main>
  <Footer />
  <Toaster client:idle />
</Layout>
